/* TYPOGRAPHY */

.font-notosans {
    font-family: 'Noto Sans', Verdana, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans', Verdana, Tahoma, sans-serif;
    font-weight: 700;
    line-height: 1.2;
}

/* COLORS */
.bg-yellow {
    background-color: #f7d70f;
}